body {
  color:whitesmoke;
  font-family: Fantasy, Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
}

body::after {
  content: "";
  background: url('/static/images/snake_island.jpg');
  opacity: 0.60;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
 h1 {
   padding:10px 20px;
   font-size:40px;
   color:rgb(0, 102, 102);
   margin-block-end: 0em;
 }

.nav-menu{
  display: flex;
  padding: 20px;
  background-color: rgb(57, 162, 189);
  color: white;
}

.nav-menu li a{
  text-decoration: none;
}

.nav-menu li a:visited{
  color: white;
}

.nav-menu li{
  padding-right: 10px;
  list-style: none;
  color: white;
  font-size: 20px;
}

.container {
  padding-left:10px;
  color:rgb(0, 102, 102);
  font-weight: bold;
}

.place {
  display:flex;
  background-color: white;
  border-radius: 5px;
  border-style: outset;
  border-color:darkcyan;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  width:35%;
  min-width: 200px;
  max-width:500px;
}

.country {

  background-color: white;
  border-radius: 5px;
  border-style: outset;
  border-color:darkcyan;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  width:35%;
  min-width: 200px;
  max-width:500px;
}

.add-new {
  padding:10px;
  background-color:rgb(57, 162, 189);
  margin-left:20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

.add-new a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;

}

.back-button a {
  color: rgb(57, 162, 189);
  font-weight: bold;
  text-decoration: none;

}

.back-button {
  padding:10px;
  margin-left:20px;
  border-style: outset;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}

#add-new{
  padding: 5px;
  border-radius: 3px;
  border-style: outset;
  margin:5px;
}

input[type=submit]  {
  padding:5px;
  color: whitesmoke;
  font-weight:bold;
  background-color: rgb(57, 162, 189);
  border-style: outset;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}