body {
  color:whitesmoke;
  font-family: Fantasy, Tahoma, sans-serif;
  padding: 0px;
  margin: 0px;
}

body::after {
  content: "";
  background: url('/static/images/snake_island.jpg');
  opacity: 0.60;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
 h1 {
   padding:10px 20px;
   font-size:40px;
   color:rgb(0, 102, 102);
   margin-block-end: 0em;
 }

.nav-menu{
  display: flex;
  padding: 20px;
  background-color: rgb(57, 162, 189);
  color: white;
}

.nav-menu li a{
  text-decoration: none;
}

.main-list:visited{
  color: white;
}

.nav-menu li{
  padding-right: 10px;
  list-style: none;
  font-size: 20px;
}

.container {
  padding-left:10px;
  color:rgb(0, 102, 102);
  font-weight: bold;
  margin-left:10px;
}

.place {
  display:flex;
  background-color: white;
  border-radius: 5px;
  border-style: outset;
  border-color:darkcyan;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  width:35%;
  min-width: 300px;
  max-width:400px;
}

.country {
  background-color: white;
  border-radius: 5px;
  border-style: outset;
  border-color:darkcyan;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  width:25%;
  padding-left:10px;
  min-width: 100px;
  max-width:250px;
}

.add-new {
  padding:10px;
  background-color:rgb(57, 162, 189);
  margin-left:20px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
.search-box {
  display:flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
.add-new a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;

}

.back-button a {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;

}

.back-button {
  padding:2px;
  margin-left:20px;
  border-style: outset;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  background-color: rgb(57, 162, 189);
}

#add-new{
  padding: 5px;
  border-radius: 3px;
  border-style: outset;
  margin:10px;
  font-family: 'Montserrat', 'sans-serif';
  color: darkcyan;
  font-weight:bold;
}

input[type=submit]  {
  padding:5px;
  color: whitesmoke;
  font-weight:bold;
  background-color: rgb(57, 162, 189);
  border-style: outset;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  margin-left: 10px;
}
h2 {
  margin-left: 10px;
}
p{
  margin-block-end: 5px;
}
p a {
  margin-left:10px;
}
label {
  margin-left:10px;
}

/* Dropdown Button */
.dropbtn {
  padding-right: 10px;
  color: whitesmoke;
  font-size: 20px;
  border: none;
  font-family: fantasy;
  background-color: rgb(57, 162, 189);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  color:rgb(3, 65, 65);
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgb(57, 162, 189);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(57, 162, 189)}