<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
  <title>Adventurers Travel List</title>
</head>
<body>
    <header>
        <h1>Adventurers Travel List</h1>
            <nav>
                <ul class = "nav-menu">
                    <li><a class="main-list" href="/">Home</a></li>
                    <li><a class="main-list" href="/countries">Countries</a></li>
                    <li class="dropdown">
                        <button class="dropbtn">Places</button>
                        <div class = "dropdown-content">
                            <a href="/places">All Places</a>
                            <a href="/places/True/show">Places visited</a>
                            <a href="/places/False/show">Places to visit</a>
                            <a href="/place_types">Place types</a>
                    </li>
                    <form action="/places/criteria" method="POST">
                          <label class="nav-label" for="continent">Search:</label>
                            <select id="add-new" name="continent">
                              <option value="Africa">Africa</option>
                              <option value="Antarctica">Antarctica</option>
                              <option value="Asia">Asia</option>
                              <option value="Europe">Europe</option>
                              <option value="North America">North America</option>
                              <option value="Oceania">Oceania</option>
                              <option value="South America">South America</option>
                            </select>
                          <input class = "search" type="submit" value =&#128269;>
                    </form>
                
                </ul>
            </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>