<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Adventurers Travel List</title>
</head>
<body>
    <header>
        <h1>Adventurers Travel List</h1>
            <nav>
                <ul class = "nav-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/countries">Countries</a></li>
                    <li><a href="/places">Places</a></li>
                </ul>
            </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>