{% extends "base.html" %}
{% block content %}

<h3>Welcome to the Adventurers Travel List.</h3>
<p>This is a place to satisfy your wanderlust from the comfort of your own home, and to prepare your next trip!</p>
<br><br>
<h3>Some of the features:</h3>
<ul>
  <li>Countries page and Places page where you can add edit and delete either a country or a place.</li>
  <li>Creating, editing and deleting your own place types.</li>
  <li>A country can have many place (you should add your country first).</li>
  <li>Automatic updating on countries as visited if a place is added that is associated with a country and has been visited.</li>
  <li>Star ratings for places.</li>
  <li>Viewing by places visited and want to visit.</li>
  <li>Search by continent for all places on that continent.</li>
</ul>
{% endblock %}