{% extends "base.html" %}
{% block content %}

{% for place in places %}
  <div class="place">
    <div>
      Country: {{ place.country.name }}
      <div>
        Place: {{place.place_name}}  
      </div>
      <div>
        {{place.description}}  
      </div>
      <div>

        {% if place.visited == True %}
          Been there! <span style='font-size:20px;'>&#10004;</span>
        {% else %}
          Been there! <span style='font-size:20px;'>&#10008;</span>
        {% endif %}

        <P><a href="/places/{{ place.id }} ">More info</a></P>
      </div>
    </div>
  </div>
{% endfor %}

<button class = "add-new"><a href="/places/new">Add new place</a></button>


{% endblock %}