{% extends "base.html" %}
{% block content %}

<h2>Add a New Place</h2>

<form action="/places" method="POST">
    <div>
        <label for="place_name">Name:</label>
        <input type="text" id="add-new" name="place_name">
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="add-new" name="description">
  </div>
    <div>
      <label for="place_type">Type of Place:</label>
        <select id="add-new" name="place_type">
          {% for place_type in place_types %}
          <option value={{place_type.id}}>{{ place_type.type_name }}</option>
          {% endfor %}
        </select>
    </div>
    <div>
      <input type="submit">
    </div>
</form>

{% endblock %}