{% extends "base.html" %}
{% block content %}

<h2>Add a New Place</h2>

<form action="/places" method="POST">
  <div>
    <label for="country_id">Country:</label><br>
      <select id="add-new" name="country_id">
        {% for country in countries %}
        <option value={{country.id}}>{{ country.name }}</option>
        {% endfor %}
      </select>
  </div>
    <div>
        <label for="place_name">Name:</label><br>
        <input type="text" id="add-new" name="place_name">
    </div>
    <div>
      <label for="description">Description:</label><br>
      <textarea rows="4" cols="50"  id="add-new" name="description"></textarea>
  </div>
    <div>
      <label for="place_type">Type of Place:</label><br>
        <select id="add-new" name="place_type_id">
          {% for place_type in place_types %}
          <option value={{place_type.id}}>{{ place_type.type_name }}</option>
          {% endfor %}
        </select>
    </div>
    <div>
      <label for="visited">Been there?:</label>
      <select id="add-new" name="visited">
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>
  </div>
  <div>
    <label for="rating">Rating:</label>
      <select id="add-new" name="rating">
        <option value=0>Unrated</option>        
        <option value=1>1 star</option>
        <option value=2>2 stars</option>
        <option value=3>3 stars</option>
        <option value=4>4 stars</option>
        <option value=5>5 stars</option>
      </select>
  </div>
    <div>
      <input type="submit">
    </div>
</form>

{% endblock %}