{% extends "base.html" %}
{% block content %}

{% if places|length >0 %}
  <h2>Places on the continent of {{continent}}</h2> 
  {% for place in places %}
      <div class = "place">
          Place Name: {{place.place_name}} <br>
          Country: {{place.country.name}} <br> 
          Description: {{place.description}} <br>
          Type of Place: {{ place.place_type.type_name }}<br>
        {% for n in range(place.rating) %}
          <span style='font-size:10px;'>&#11088;</span>
        {% endfor %}
      </div>
  {% endfor %}
{% else %}  
<h2>There are no places on {{continent}}</h2> 
{% endif %}
<p><a href="/places">Return to places menu</a></p>
{% endblock %}